<div cdkDropList class="main" (cdkDropListDropped)="drop($event)">
    <div class="todo-item" *ngFor="let item of todoList" cdkDrag>
        <div *cdkDragPlaceholder></div>
        <p class="todo-item-title">{{ item.title }}</p>
        <p class="todo-item-description">{{ item.description }}</p>
        <p class="todo-item-date">{{ date.ru(item.date) }}</p>
        <p>
            <a [routerLink]="['todo-item', item.id]">Подробнее...</a>
        </p>
    </div>
    <a class="todo-item" routerLink="todo-item/new">+ Добавить новую задачу</a>
</div>