@import '../../../variables.scss';

.todo-item-page {
    padding: 20px 30px;

    .btn-edit {
        border: none;
        background: none;
        margin: 0 0 0 auto !important;
        font-size: 20px;
    }

    &-description {
        display: flex;
        flex-direction: column;
        border: 4px solid $border-color;
        max-width: $max-width;
        min-height: 150px;

        textarea {
            border: none;
        }

        textarea:focus {
            outline: none !important;
        }
    }

    .complited {
        color: $green;
    }

    .active {
        color: $red;
    }

    .btn {
        margin-left: 15px;
    }

    .create {
        margin-top: 20px;
    }
}