<div class="todo-item-page">
    <h2 class="todo-item-page-title">
        {{item.title}}
    </h2>
    <p class="todo-item-page-description">
       {{item.description}} 
    </p>
    <p class="todo-item-page-is-complited-true" *ngIf="item.isComplited">
        Выполнено
        <button
            class="btn"
            (click)="changeStatus()"
        >
            Отметить как не выполненую
        </button>
    </p>
    <p class="todo-item-page-is-complited-false" *ngIf="!item.isComplited">
        <span>Активно</span>
        <button
            class="btn"
            (click)="changeStatus()"
        >
            Отметить как выполненую
        </button>
    </p>
    <button
        class="todo-item-page-save btn"
        [disabled]="!changes"
    >
        Сохранить изменения
    </button>
    <button
        class="todo-item-page-close-task btn"
        [disabled]="!item.isComplited"
    >
        Закрыть задачу
    </button>  
</div>