<div class="todo-item-page">
    <h2 class="todo-item-page-title" *ngIf="!editMode">
        {{item.title}}
        <button 
            class="btn-edit"
            (click)="toEditMode()"
            title="Редактировать"
        >	
        &#9998;
        </button>
    </h2>
    <input type="text" [(ngModel)]="item.title" *ngIf="editMode">
    <p class="todo-item-page-description">
       <span *ngIf="!editMode">{{item.description}}</span>
        <textarea name="" id="" cols="30" rows="10"
            [(ngModel)]="item.description"
            *ngIf="editMode"
        ></textarea>
    </p>
    <input type="date" [value]="date.forInput(item.date)">
    <p class="todo-item-page-is-complited">
        <span [ngClass]="{ 'complited': item.isComplited, 'active': !item.isComplited }">
            {{ item.isComplited ? 'Выполнено' : 'Активно' }}
        </span>
        <button
            class="btn"
            (click)="changeStatus()"
        >
        {{ item.isComplited ? 'Отметить как невыполненную' : 'Отметить как выполненую' }}
        </button>
    </p>
    <button
        class="todo-item-page-save btn"
        [disabled]="!changes"
        (click)="saveChanges()"
    >
        Сохранить изменения
    </button>
    <button
        class="btn"
        *ngIf="changes"
        (click)="cancelChanges()"
    >Отменить изменения</button>
    <button
        class="todo-item-page-close-task btn"
        [disabled]="!item.isComplited"
        (click)="closeTask()"
    >
        Закрыть задачу
    </button>  
</div>